/Binaries/Win64/TooProjectEditor.target
/Binaries/Win64/UnrealEditor.modules
/Binaries/Win64/UnrealEditor-TooProject.dll
/Binaries/Win64/UnrealEditor-TooProject.pdb
/Saved/
/Saved
/Intermediate/
/Intermediate
/.idea
/.idea/

